extends layout

include mixins/newProject

block head 
  div.container-title
    h1 UpTask: New Project
    if errors
      each error in errors
        p= error.message 

  div.container
    +newProject(project)
    

block footer