extends layout

block head
 
  section.home
    .text Dashboard Projects

    div.list-projects

      div.title-projects
        h2 List Projects

      div.projects
        ul 
          if( projects.length)
            each project in projects
              li.project-item
                a(href=`/projects/${ project.url}`)= project.name 
  block main

block footer